<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:prime="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="bean" type="java.lang.Object"/>
</composite:interface>

<composite:implementation>
    <prime:outputPanel autoUpdate="true">
        <h:panelGrid columns="2" styleClass="table table-striped table-bordered table-condensed" columnClasses="splitThirty">

            <h:outputText value="Audit Type"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.auditType.description}"/>

            <h:outputText value="Company"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.company.description}"/>

            <h:outputText value="Main Process"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.businessProcessType.description}"/>

            <h:outputText value="Process"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.businessSubProcessType.description}"/>

            <h:outputText value="Finding No"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.findingNumber}"/>
            
            <h:outputText value="Year"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.findingYear}">
            	<f:convertDateTime pattern="yyyy"/>
            </h:outputText>
            
            <h:outputText value="Report Name"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.reportName}"/>

            <h:outputText value="Finding Title"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.description}"/>

            <h:outputText value="Priority"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.priority.description}"/>

            <h:outputText value="Detail"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.detail}"/>

            <h:outputText value="Risk"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.risk}"/>

            <h:outputText value="Recommendation"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.recommendation}"/>

            <h:outputText value="Management Action Plan"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.managementActionPlan}"/>

            <h:outputText value="Action Owner"/>
            <prime:outputPanel>
                <div class="dataList">
                    <prime:dataList value="#{cc.attrs.bean.selectedFinding.findingActionsAsList()}" var="_findingAction">
                        #{_findingAction.actionOwner.nameSurname} #{_findingAction.readOnly ? '[Read Only]' : ''}
                    </prime:dataList>
                </div>
            </prime:outputPanel>

            <h:outputText value="Completion Date"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.completionDate}">
                <f:convertDateTime pattern="dd/MM/yyyy"/>
            </h:outputText>

            <h:outputText value="Do you want to send warning mails?"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.sendEmail}"/>

            <h:outputText value="Reason to not send email"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.reasonToNotSendEmail.description}"/>

            <h:outputText value="Completed?"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.completed}"/>

            <h:outputText value="Confirmed?"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.confirmed}"/>

            <h:outputText value="Inspector"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.auditUser.nameSurname}"/>

            <h:outputText value="Opened Date"/>
            <h:outputText value="#{cc.attrs.bean.selectedFinding.auditDate}">
                <f:convertDateTime pattern="dd/MM/yyyy"/>
            </h:outputText>

            <h:outputText value="Files"/>
            <prime:dataTable
                    id="findingFiles"
                    value="#{cc.attrs.bean.selectedFinding.findingFilesAsList()}"
                    var="_findingFile"
                    emptyMessage="There is not any uploaded file for the finding">
                <f:facet name="header"><p/></f:facet>
                <prime:column headerText="File Name" style="text-align: center">
                    #{_findingFile.fileName}
                </prime:column>
                <prime:column headerText="User" style="text-align: center">
                    #{_findingFile.user.nameSurname}
                </prime:column>
                <prime:column headerText="" style="text-align: center">
                    <prime:commandLink
                            value="View"
                            ajax="false"
                            immediate="true"
                            style="color:blue"
                            oncomplete="statusDialog.hide();">
                        <prime:fileDownload value="#{findingFileController.viewFile(_findingFile)}" />
                    </prime:commandLink>
                </prime:column>
            </prime:dataTable>

        </h:panelGrid>
    </prime:outputPanel>
</composite:implementation>
</html>