<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:prime="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:util="http://java.sun.com/jsf/composite/components/common"
      xmlns:sec="http://www.springframework.org/security/tags">

<composite:interface>
    <composite:attribute name="findings"/>
    <composite:attribute name="bean" type="java.lang.Object"/>
</composite:interface>

<composite:implementation>
    <prime:dataTable id="findingsDataTable" value="#{cc.attrs.findings}" var="_findingImportWrapper">
        <f:facet name="header">
            Summary of Findings
        </f:facet>

        <prime:column>
            <f:facet name="header">
                Excel Row #
            </f:facet>
            <h:outputText value="#{_findingImportWrapper.id}"/>
        </prime:column>

        <prime:column width="80">
            <f:facet name="header">
                Finding #
            </f:facet>
            <h:outputText value="#{_findingImportWrapper.finding.findingNumber}"/>
        </prime:column>

        <prime:column headerText="Priority" width="65" style="background-color:#{_findingImportWrapper.finding.priority.color};">
            <h:outputText value="#{_findingImportWrapper.finding.priority.description}" style="color:#000000;" />
        </prime:column>

        <prime:column>
            <f:facet name="header">
                Main Process
            </f:facet>
            <h:outputText value="#{_findingImportWrapper.finding.auditType.description}"/>
            <br/>
            <h:outputText value="#{_findingImportWrapper.finding.businessProcessType.description}"/>
            <br/>
            <h:outputText value="#{_findingImportWrapper.finding.businessSubProcessType.description}"/>
        </prime:column>

        <prime:column style="text-align:left;" headerText="Finding Title">
            <h:outputText value="#{_findingImportWrapper.finding.description}"/>
        </prime:column>

        <prime:column style="text-align:left;" headerText="Detail">
            <h:outputText value="#{_findingImportWrapper.finding.detail.length() gt 50 ? _findingImportWrapper.finding.detail.substring(0,47).concat('...') : _findingImportWrapper.finding.detail}" />
        </prime:column>

        <prime:column>
            <f:facet name="header">
                Action Owners
            </f:facet>

            <div class="dataList">
                <prime:dataList value="#{_findingImportWrapper.finding.findingActionsAsList()}" var="_findingAction" rendered="#{_findingImportWrapper.finding.findingActions.size() gt 0}">
                    <h:outputText value="#{_findingAction.actionOwner.nameSurname} #{_findingAction.readOnly ? '[Read Only]' : ''}"/>
                </prime:dataList>
            </div>
        </prime:column>

        <prime:column style="text-align:center;" headerText="Status">
            <h:outputText value="#{_findingImportWrapper.finding.statusOfFinding.description}" style="color: #{_findingImportWrapper.finding.statusOfFinding.color}"/>
        </prime:column>

        <prime:column width="80">
            <f:facet name="header">
                <h:panelGrid columns="1">
                    <h:outputText value="Completion"/>
                    <h:outputText value="Date"/>
                </h:panelGrid>
            </f:facet>
            <h:outputText value="#{_findingImportWrapper.finding.completionDate}">
                <f:convertDateTime pattern="dd/MM/yyyy"/>
            </h:outputText>
        </prime:column>

        <prime:column style="text-align:left;" headerText="Errors" width="150">
            <h:outputText value="#{_findingImportWrapper.errorDetail}" style="color:#ff0000" escape="false"/>
        </prime:column>

        <prime:column style="text-align:center;">
            <h:outputText value="#{_findingImportWrapper.valid ? 'Valid' : 'Invalid'}" style="color: #{_findingImportWrapper.valid ? 'green' : 'red'}"/>
        </prime:column>

    </prime:dataTable>

</composite:implementation>
</html>