<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:prime="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:util="http://java.sun.com/jsf/composite/components/common"
      xmlns:sec="http://www.springframework.org/security/tags">

<composite:interface>
    <composite:attribute name="bean" type="java.lang.Object"/>
</composite:interface>

<composite:implementation>
    <prime:outputPanel autoUpdate="true">
        <prime:dataTable
                id="dtUserTasks"
                rendered="#{cc.attrs.bean.selectedFinding ne null}"
                value="#{cc.attrs.bean.selectedFinding.findingActionsAsList()}"
                var="_findingAction"
                styleClass="table-hover">

            <prime:column headerText="Finding #">
                #{_findingAction.finding.findingNumber}
            </prime:column>

            <prime:column headerText="Action Owner" style="text-align:left;">
                <h:outputText value="#{_findingAction.actionOwner.nameSurname}"/>
            </prime:column>

            <prime:column headerText=" Action Taken" style="text-align:center;">
                <h:outputText value="#{_findingAction.actionTaken}"/>
            </prime:column>

            <prime:column style="text-align:center;">
                <f:facet name="header">
                    <h:panelGrid columns="1">
                        <h:outputText value="Completion"/>
                        <h:outputText value="Percentage"/>
                    </h:panelGrid>
                </f:facet>
                <h:outputText value="#{_findingAction.completionPercentage}%"/>
            </prime:column>

            <prime:column>
                <f:facet name="header">
                    <h:panelGrid columns="1">
                        <h:outputText value="Explanation"/>
                        <h:outputText value="for Delay"/>
                    </h:panelGrid>
                </f:facet>
                #{_findingAction.explanationForDelay}
            </prime:column>

            <prime:column style="text-align:center">
                <f:facet name="header">
                    <h:panelGrid columns="1">
                        <h:outputText value="Revised"/>
                        <h:outputText value="Completion Date"/>
                    </h:panelGrid>
                </f:facet>
                <h:outputText value="#{_findingAction.revisedCompletionDate}">
                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                </h:outputText>
            </prime:column>

            <prime:column style="text-align:center">
                <f:facet name="header">
                    <h:panelGrid columns="1">
                        <h:outputText value="Last"/>
                        <h:outputText value="Update Date"/>
                    </h:panelGrid>
                </f:facet>
                <h:outputText value="#{_findingAction.changeDate}">
                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                </h:outputText>
            </prime:column>

            <prime:column>
                <prime:commandButton
                        title="History"
                        process="@this"
                        icon="ui-icon-clock"
                        actionListener="#{cc.attrs.bean.selectFindingAction(_findingAction)}"/>
            </prime:column>
        </prime:dataTable>
    </prime:outputPanel>
    <prime:outputPanel autoUpdate="true">
        <br/>
        <prime:outputPanel rendered="#{cc.attrs.bean.selectedFinding ne null}">
            <util:findingActionHistory bean="#{cc.attrs.bean}"/>
        </prime:outputPanel>
    </prime:outputPanel>
</composite:implementation>
</html>