<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:prime="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="bean" type="java.lang.Object"/>
</composite:interface>

<composite:implementation>
    <prime:outputPanel autoUpdate="true">
        <h:outputText
                value="Actions taken on finding #{cc.attrs.bean.selectedFindingAction.finding.findingNumber} by #{cc.attrs.bean.selectedFindingAction.actionOwner.nameSurname} :"
                rendered="#{cc.attrs.bean.selectedFindingAction ne null}"
                style="color:red;" />
        <prime:dataTable
                value="#{cc.attrs.bean.selectedFindingAction.historyOfFindingAction}"
                rendered="#{cc.attrs.bean.selectedFindingAction ne null}"
                var="_findingAction"
                styleClass="table table-striped table-bordered table-condensed">

            <prime:column headerText="Action Taken">
                <h:outputText value="#{_findingAction.actionTaken}"/>
            </prime:column>

            <prime:column headerText="Comp. Perc." style="text-align:center">
                <h:outputText value="#{_findingAction.completionPercentage} %"/>
            </prime:column>

            <prime:column headerText="Explanation For Delay">
                <h:outputText value="#{_findingAction.explanationForDelay}"/>
            </prime:column>

            <prime:column headerText="Revised completion Date" style="text-align:center">
                <h:outputText value="#{_findingAction.revisedCompletionDate}">
                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                </h:outputText>
            </prime:column>

            <prime:column headerText="Update Time" style="text-align:center">
                <h:outputText value="#{_findingAction.changeDate}">
                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                </h:outputText>
            </prime:column>

        </prime:dataTable>
    </prime:outputPanel>
</composite:implementation>
</html>