<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:prime="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
    <composite:attribute name="findingResponsibleAction" type="com.tr.aksigorta.denetimtaleptakip.model.FindingResponsibleAction"/>
</composite:interface>

<composite:implementation>
    <prime:outputPanel autoUpdate="true">
        <h:outputText
                value="Responsible actions taken on finding #{cc.attrs.findingResponsibleAction.finding.findingNumber} by #{cc.attrs.findingResponsibleAction.actionOwner.nameSurname} :"
                rendered="#{cc.attrs.findingResponsibleAction ne null}"
                style="color:red;" />
        <prime:dataTable
                value="#{cc.attrs.findingResponsibleAction.historyOfFindingResponsibleAction}"
                rendered="#{cc.attrs.findingResponsibleAction ne null}"
                var="_findingResponsibleAction"
                styleClass="table table-striped table-bordered table-condensed">

            <prime:column headerText="Action Taken">
                <h:outputText value="#{_findingResponsibleAction.actionTaken}"/>
            </prime:column>

            <prime:column headerText="Comp. Perc." style="text-align:center">
                <h:outputText value="#{_findingResponsibleAction.completionPercentage} %"/>
            </prime:column>

            <prime:column headerText="Explanation For Delay">
                <h:outputText value="#{_findingResponsibleAction.explanationForDelay}"/>
            </prime:column>

            <prime:column headerText="Revised completion Date" style="text-align:center">
                <h:outputText value="#{_findingResponsibleAction.revisedCompletionDate}">
                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                </h:outputText>
            </prime:column>

            <prime:column headerText="Update Time" style="text-align:center">
                <h:outputText value="#{_findingResponsibleAction.changeDate}">
                    <f:convertDateTime pattern="dd/MM/yyyy HH:mm"/>
                </h:outputText>
            </prime:column>

        </prime:dataTable>
    </prime:outputPanel>
</composite:implementation>
</html>