<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:prime="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:util="http://java.sun.com/jsf/composite/components/common"
      xmlns:sec="http://www.springframework.org/security/tags">

<composite:interface>
    <composite:attribute name="findings"/>
    <composite:attribute name="bean" type="java.lang.Object"/>
</composite:interface>

<composite:implementation>
    <prime:dataTable id="findingsDataTable" tableStyle="font-size:12px;" value="#{cc.attrs.findings}" var="_finding">
        <f:facet name="header">
            Findings
        </f:facet>

        <prime:column sortBy="#{_finding.findingNumber}" >
            <f:facet name="header">
                Finding #
            </f:facet>
            <prime:commandLink id="findingNumber" actionListener="#{cc.attrs.bean.selectFinding(_finding)}" onsuccess="findingDetailsDialog.show();" value="#{_finding.findingNumber}" />
            <prime:tooltip style="max-width:400px" id="toolTipFadeFindingNumber" for="findingNumber" value="#{_finding.detail}" />
            <prime:outputPanel rendered="#{_finding.findingFiles.size()>0}">
                <img src="../images/paperclip.png"></img>
            </prime:outputPanel>
        </prime:column>

		<prime:column headerText="Year" sortBy="#{_finding.findingYear}">
			<h:outputText value="#{_finding.findingYear}">
				<f:convertDateTime pattern="yyyy" />
			</h:outputText>
		</prime:column>
		
		<prime:column headerText="Report Name" sortBy="#{_finding.reportName}">
			<h:outputText value="#{_finding.reportName}" />
		</prime:column>

		<prime:column headerText="Priority" sortBy="#{_finding.priority}" style="background-color:#{_finding.priority.color};">
            <h:outputText value="#{_finding.priority.description}" style="color:#000000;" />
        </prime:column>

        <prime:column>
            <f:facet name="header">
                Main Process
            </f:facet>
            <h:outputText value="#{_finding.auditType.description}"/>
            <br/>
            <h:outputText value="#{_finding.businessProcessType.description}"/>
            <br/>
            <h:outputText value="#{_finding.businessSubProcessType.description}"/>
        </prime:column>

        <prime:column style="text-align:left;" headerText="Finding Title" sortBy="#{_finding.description}">
            <h:outputText value="#{_finding.description}"/>
        </prime:column>

        <prime:column>
            <f:facet name="header">
                Action Owners
            </f:facet>

            <div class="dataList">
                <prime:dataList value="#{_finding.findingActionsAsList()}" var="_findingAction" rendered="#{_finding.findingActions.size() gt 0}">
                    <h:outputText value="#{_findingAction.actionOwner.nameSurname} #{_findingAction.readOnly ? '[Read Only]' : ''}"/>
                </prime:dataList>
            </div>
        </prime:column>

        <prime:column>
            <f:facet name="header">
                Confirmed By
            </f:facet>

            <div class="dataList">
                <prime:dataList value="#{_finding.findingResponsibleActionsAsList()}" var="_findingResponsibleAction" rendered="#{_finding.findingResponsibleActions.size() gt 0}">
                    <h:outputText value="#{_findingResponsibleAction.actionOwner.nameSurname}"/>
                </prime:dataList>
            </div>
        </prime:column>


        <prime:column style="text-align:center;" headerText="Status">
            <prime:commandLink id="statusOfFinding"
                               style="color: #{_finding.statusOfFinding.color}"
                               actionListener="#{cc.attrs.bean.selectFinding(_finding)}"
                               onsuccess="userActionsDialog.show();"
                               value="#{_finding.statusOfFinding.description} (#{_finding.completionPercentageFromActions}%)" />
            <prime:tooltip style="max-width:400px" id="toolTipFadeStatus" for="statusOfFinding" value="#{_finding.actionTakenFromActions}" />
        </prime:column>

        <prime:column sortBy="#{_finding.completionDate}" >
            <f:facet name="header">
                <h:panelGrid columns="1">
                    <h:outputText value="Completion"/>
                    <h:outputText value="Date"/>
                </h:panelGrid>
            </f:facet>
            <h:outputText value="#{_finding.completionDate}">
                <f:convertDateTime pattern="dd/MM/yyyy"/>
            </h:outputText>
        </prime:column>

        <prime:column sortBy="#{_finding.revisedCompletionDate}" >
            <f:facet name="header">
                <h:panelGrid columns="1">
                    <h:outputText value="Revised"/>
                    <h:outputText value="Completion"/>
                    <h:outputText value="Date"/>
                </h:panelGrid>
            </f:facet>
            <br/>
            <h:outputText value="#{_finding.revisedCompletionDate}">
                <f:convertDateTime pattern="dd/MM/yyyy"/>
            </h:outputText>
            <br/>
            <h:outputText value="Approved" rendered="#{_finding.revised eq true and _finding.revisedCompletionDate ne null}" style="color:green">
            </h:outputText>
            <h:outputText value="Waiting for Approval" rendered="#{_finding.revised eq false and _finding.revisedCompletionDate ne null}" style="color:red">
            </h:outputText>
        </prime:column>
        <prime:column headerText="">
            <prime:menuButton value="Options">
                <prime:menuitem
                        value="Edit Finding"
                        icon="ui-icon-pencil"
                        action="#{cc.attrs.bean.updateFinding(_finding)}"
                        rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"/>
                <prime:menuitem
                        value="Reassign Finding"
                        icon="ui-icon-arrowrefresh-1-n"
                        action="#{cc.attrs.bean.reassignFinding(_finding)}"
                        rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"/>
                <prime:menuitem
                        value="Finding Details"
                        onsuccess="findingDetailsDialog.show();"
                        icon="ui-icon-zoomin"
                        actionListener="#{cc.attrs.bean.selectFinding(_finding)}"/>
                <prime:menuitem
                        value="User Actions"
                        onsuccess="userActionsDialog.show();"
                        icon="ui-icon-circle-arrow-e"
                        actionListener="#{cc.attrs.bean.selectFinding(_finding)}"/>
                <prime:menuitem
                        value="Confirmation History"
                        onsuccess="confirmationHistoryDialog.show();"
                        icon="ui-icon-clock"
                        actionListener="#{cc.attrs.bean.selectFinding(_finding)}"/>
                <prime:menuitem
                        value="Confirm"
                        onsuccess="confirmDialog.show();"
                        icon="ui-icon-check"
                        actionListener="#{cc.attrs.bean.selectFindingForConfirmation(_finding)}"
                        rendered="#{sec:areAnyGranted('ROLE_ADMIN')}"/>
                <prime:menuitem
                        value="Approve"
                        icon="ui-icon-ok"
                        onclick="if (!confirm('You are approving the revised completion date, are you sure?')) return false"
                        actionListener="#{cc.attrs.bean.reviseFinding(_finding)}"
                        rendered="#{sec:areAnyGranted('ROLE_ADMIN') and _finding.revised eq false and _finding.revisedCompletionDate ne null }"
                        update=":growl, findingsDataTable"/>
            </prime:menuButton>
        </prime:column>
    </prime:dataTable>
    <br/>

    <h:commandLink action="#{findingAdminController.exportFindingsToExcel(cc.attrs.findings)}" value="Export to Excel" />
    /
    <prime:commandLink actionListener="#{findingAdminController.preparePieChart(cc.attrs.findings)}" onsuccess="pieChartDialog.show();" value="View in Graph" />

    <prime:dialog id="pieChartDialog" dynamic="true" modal="true" widgetVar="pieChartDialog" closable="true" header="Graph of Findings">
        <prime:pieChart
                id="pieChart"
                value="#{findingAdminController.pieChartModel}"
                legendPosition="w"
                title="Findings Graph"
                style="width:500px;height:400px"
                showDataLabels="true"
                dataFormat="value">
        </prime:pieChart>
    </prime:dialog>

    <prime:dialog id="findingDetailsDialog" dynamic="true" modal="true" widgetVar="findingDetailsDialog" closable="true" header="Details of Finding" width="700" height="400">
        <util:findingDetail bean="#{cc.attrs.bean}"/>
    </prime:dialog>

    <prime:dialog id="userActionsDialog" dynamic="true" modal="true" widgetVar="userActionsDialog" closable="true" header="Details of Actions" style="margin-top:100px;"  width="1200" height="400">
        <util:findingUserActions bean="#{cc.attrs.bean}"/>
    </prime:dialog>

    <prime:dialog id="confirmationHistoryDialog" dynamic="true" modal="true" widgetVar="confirmationHistoryDialog" closable="true" header="Confirmation History" style="margin-top:100px;"  width="1200" height="400">
        <util:findingResponsibleActions bean="#{cc.attrs.bean}"/>
    </prime:dialog>

    <prime:dialog id="confirmDialog" dynamic="true" modal="true" widgetVar="confirmDialog" closable="true"
                  header="Finding Confirmation" style="margin-top:100px;"  width="700" height="460">
        <prime:outputPanel autoUpdate="false">
            <h:panelGrid columns="2" styleClass="table table-striped table-bordered table-condensed">
                <h:outputLabel for="txtConfirmActionTaken" value="Action Taken"/>
                <prime:inputTextarea id="txtConfirmActionTaken" value="#{cc.attrs.bean.selectedFindingResponsibleAction.actionTaken}"/>
                <h:outputText value="Completion Percentage"/>
                <h:panelGroup>
                    <h:panelGroup>
                        <h:outputText value="%" style="padding-left: 10px;"/>
                        <h:outputText id="output" value="#{cc.attrs.bean.selectedFindingResponsibleAction.completionPercentage}"/>
                    </h:panelGroup>
                    <h:inputHidden id="txtConfirmCompletionPercentage" value="#{cc.attrs.bean.selectedFindingResponsibleAction.completionPercentage}"/>
                    <prime:slider step="25" for="txtConfirmCompletionPercentage" display="output" style="width:200px;"/>
                </h:panelGroup>

                <h:outputLabel for="txtConfirmExplanationForDelay" value="Explanation for Confirmation"/>
                <prime:inputTextarea id="txtConfirmExplanationForDelay" value="#{cc.attrs.bean.selectedFindingResponsibleAction.explanationForDelay}"/>

                <h:outputLabel for="txtConfirmRevisedCompletionDate" value="Revised completion Date"/>
                <prime:calendar  id="txtConfirmRevisedCompletionDate" value="#{cc.attrs.bean.selectedFindingResponsibleAction.revisedCompletionDate}" pattern="dd/MM/yyyy"/>

                <f:facet name="footer">
                    <h:panelGroup style="float:right;">
                        <prime:commandButton value="Cancel" onclick="confirmDialog.hide();" process="@this"/>
                        <prime:commandButton
                                value="Save"
                                actionListener="#{cc.attrs.bean.updateFindingResponsibleAction()}"
                                update="findingsDataTable"
                                onsuccess="confirmDialog.hide();"/>
                    </h:panelGroup>
                </f:facet>
            </h:panelGrid>
        </prime:outputPanel>
    </prime:dialog>
</composite:implementation>
</html>