<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:util="http://java.sun.com/jsf/composite/components/common"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        View All Audit, Business and Business Process Types in Once
    </ui:define>

    <ui:define name="mainContent">
        <h:form>
            <prime:commandButton value="Print" type="button" icon="ui-icon-print" style="float:right">
                <prime:printer target="tree"/>
            </prime:commandButton>
            <br />
            <br />
            <prime:treeTable
                    id="tree"
                    value="#{auditBusinessTypeController.rootNode}"
                    var="_node"
                    dynamic="true"
                    cache="false">
                <prime:column headerText="Description">
                    <h:outputText value="#{_node.description}"/>
                </prime:column>
                <prime:column headerText="Responsible Heads">
                    <prime:dataList value="#{_node.responsibleHeadsAsList}" var="_responsible" styleClass="dataList">
                        #{_responsible.nameSurname}
                    </prime:dataList>
                </prime:column>
            </prime:treeTable>
            <br />
            <prime:commandButton value="Print" type="button" icon="ui-icon-print" style="float:right">
                <prime:printer target="tree"/>
            </prime:commandButton>
        </h:form>
    </ui:define>

    <ui:define name="helpContent">
        <b>
        </b>
    </ui:define>

</ui:composition>