<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:util="http://java.sun.com/jsf/composite/components/common"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        Business Type Administration
    </ui:define>

    <ui:define name="mainContent">
        <h:form id="frmBusinessTypeAdmin">
            <div style="width: 40%">
                <prime:dataTable id="dtBusinessTypeAdmin" value="#{commonDefinitionsController.businessProcessTypes}" var="_businessType">
                    <prime:column headerText="Main Process">
                        <prime:commandLink
                                value="#{_businessType.description}"
                                style="color:blue"
                                actionListener="#{businessTypeAdminController.selectBusinessProcessType(_businessType)}"
                                oncomplete="dlgBusinessTypeAdmin.show();"
                                update=":frmBusinessTypeAdmin:dlgBusinessTypeAdmin"
                                process="dtBusinessTypeAdmin"/>
                    </prime:column>
                </prime:dataTable>
                <br />
                <prime:commandButton
                        value="Add New Main Process"
                        styleClass="btn btn-primary btn-small"
                        style="float:right"
                        process="@this"
                        oncomplete="dlgBusinessTypeAdmin.show();"
                        actionListener="#{businessTypeAdminController.addNewBusinessType()}"/>
            </div>
            <!-- business type dialog -->
            <prime:dialog
                    id="dlgBusinessTypeAdmin"
                    widgetVar="dlgBusinessTypeAdmin"
                    header="Edit Main Process"
                    modal="true"
                    dynamic="true"
                    closable="false"
                    height="550">
                <prime:outputPanel autoUpdate="true">
                    <h:panelGrid columns="2" styleClass="table table-striped table-bordered table-condensed">

                        <prime:outputLabel for="txtBusinessDescription" value="Description"/>
                        <prime:inputText
                                id="txtBusinessDescription"
                                value="#{businessTypeAdminController.selectedBusinessProcessType.description}"
                                required="true"
                                requiredMessage="Description is required"/>

                        <prime:outputLabel for="txtBusinessTypeResponsibleHeads" value="Responsible Heads"/>
                        <h:panelGroup styleClass="aksPickList">
                            <prime:pickList
                                    id="txtBusinessTypeResponsibleHeads"
                                    value="#{businessTypeAdminController.possibleBusinessProcessResposibleHeads}"
                                    var="_possibleBusinessTypeResponsibleHead"
                                    itemValue="#{_possibleBusinessTypeResponsibleHead}"
                                    itemLabel="#{_possibleBusinessTypeResponsibleHead.nameSurname}"
                                    showSourceControls="false" showTargetControls="false"
                                    showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                                    converter="userConverter"
                                    required="true"
                                    requiredMessage="At least one responsible head must be chosen">
                                <f:facet name="sourceCaption">Available</f:facet>
                                <f:facet name="targetCaption">Assigned</f:facet>
                                <f:attribute name="userEntities" value="#{commonDefinitionsController.activeUsers}"/>
                            </prime:pickList>
                        </h:panelGroup>

                        <h:outputText value="Processes"/>
                        <h:panelGroup>
                            <prime:dataTable
                                    id="txtBusinessSubTypes"
                                    value="#{businessTypeAdminController.selectedBusinessProcessType.subprocessTypesAsList()}"
                                    var="_businessSubType"
                                    styleClass="table table-striped table-bordered table-condensed">
                                <f:facet name="header">
                                    <p/>
                                </f:facet>
                                <prime:column headerText="Process">
                                    <h:outputText value="#{_businessSubType.description}"/>
                                </prime:column>
                                <prime:column headerText="Id">
                                    <h:outputText value="#{_businessSubType.subProcessId}"/>
                                </prime:column>
                                <prime:column style="text-align:center">
                                    <prime:commandLink
                                            value="Edit"
                                            styleClass="btn btn-mini btn-info"
                                            style="color:white"
                                            process=":frmBusinessTypeAdmin:dlgBusinessTypeAdmin"
                                            update=":frmBusinessTypeAdmin:dlgNewBusinessSubType"
                                            actionListener="#{businessTypeAdminController.editBusinessSubProcessType(_businessSubType)}"
                                            oncomplete="handleNewBusinessSubTypeRequest(xhr, status, args);"/>
                                </prime:column>
                            </prime:dataTable>
                            <prime:commandLink
                                    value="Add New"
                                    styleClass="btn btn-mini btn-primary"
                                    style="color:white; float:right"
                                    process="dlgBusinessTypeAdmin"
                                    update="dlgNewBusinessSubType"
                                    actionListener="#{businessTypeAdminController.newBusinessSubProcessType()}"
                                    oncomplete="handleNewBusinessSubTypeRequest(xhr, status, args);"/>
                        </h:panelGroup>

                        <prime:outputLabel for="txtBusinessActive" value="Active"/>
                        <prime:selectBooleanCheckbox id="txtBusinessActive" value="#{businessTypeAdminController.selectedBusinessProcessType.active}"/>

                        <f:facet name="footer">
                            <h:panelGroup style="float: right;">
                                <prime:commandButton
                                        value="Cancel"
                                        process="@this"
                                        actionListener="#{businessTypeAdminController.cancelBusinessProcessOperation()}"
                                        update="dlgBusinessTypeAdmin"
                                        oncomplete="dlgBusinessTypeAdmin.hide();"/>
                                <prime:commandButton
                                        value="Save"
                                        update="dtBusinessTypeAdmin"
                                        process="dlgBusinessTypeAdmin"
                                        oncomplete="handleBusinessTypeSaveRequest(xhr, status, args)"
                                        actionListener="#{businessTypeAdminController.saveBusinessType()}"/>
                            </h:panelGroup>
                        </f:facet>

                    </h:panelGrid>
                </prime:outputPanel>
            </prime:dialog>

            <!-- business sub type dialog -->
            <prime:dialog
                    id="dlgNewBusinessSubType"
                    header="Edit Process"
                    modal="true"
                    dynamic="true"
                    widgetVar="dlgNewBusinessSubType"
                    closable="false">
                <prime:outputPanel autoUpdate="true">
                    <h:panelGrid columns="2" styleClass="table table-striped table-bordered table-condensed" rendered="#{businessTypeAdminController.selectedBusinessSubProcessType ne null}">

                        <prime:outputLabel for="txtBusinessSubTypeDescription" value="Description"/>
                        <prime:inputText
                                id="txtBusinessSubTypeDescription"
                                value="#{businessTypeAdminController.selectedBusinessSubProcessType.description}"
                                required="true"
                                requiredMessage="Description is required"/>

                        <prime:outputLabel for="txtBusinessSubTypeID" value="SubProcess ID"/>
                        <prime:inputText
                                id="txtBusinessSubTypeID"
                                value="#{businessTypeAdminController.selectedBusinessSubProcessType.subProcessId}"
                                type="number"
                                required="true"
                                requiredMessage="ID is required"/>

                        <prime:outputLabel for="txtBusinessSubTypeResponsibleHeads" value="Responsible Heads"/>
                        <h:panelGroup styleClass="aksPickList">
                            <prime:pickList
                                    id="txtBusinessSubTypeResponsibleHeads"
                                    value="#{businessTypeAdminController.possibleBusinessSubProcessResposibleHeads}"
                                    var="_possibleBusinessSubTypeResponsibleHead"
                                    itemValue="#{_possibleBusinessSubTypeResponsibleHead}"
                                    itemLabel="#{_possibleBusinessSubTypeResponsibleHead.nameSurname}"
                                    showSourceControls="false" showTargetControls="false"
                                    showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                                    converter="userConverter"
                                    required="true"
                                    requiredMessage="At least one responsible head must be chosen">
                                <f:facet name="sourceCaption">Available</f:facet>
                                <f:facet name="targetCaption">Assigned</f:facet>
                                <f:attribute name="userEntities" value="#{commonDefinitionsController.activeUsers}"/>
                            </prime:pickList>
                        </h:panelGroup>

                        <prime:outputLabel for="txtBusinessSubTypeActive" value="Active"/>
                        <prime:selectBooleanCheckbox id="txtBusinessSubTypeActive" value="#{businessTypeAdminController.selectedBusinessSubProcessType.active}"/>

                        <f:facet name="footer">
                            <h:panelGroup style="float: right;">
                                <prime:commandButton
                                        value="Cancel"
                                        process="@this"
                                        oncomplete="dlgNewBusinessSubType.hide();"/>
                                <prime:commandButton
                                        value="Add"
                                        process="dlgNewBusinessSubType"
                                        oncomplete="handleBusinessSubTypeSaveRequest(xhr, status, args)"
                                        actionListener="#{businessTypeAdminController.saveNewBusinessSubType()}"/>
                            </h:panelGroup>
                        </f:facet>

                    </h:panelGrid>
                </prime:outputPanel>
            </prime:dialog>

        </h:form>
        <script type="text/javascript">
            function handleBusinessTypeSaveRequest(xhr, status, args)
            {
                if (!args.validationFailed)
                {
                    dlgBusinessTypeAdmin.hide();
                }
            }
            function handleBusinessSubTypeSaveRequest(xhr, status, args)
            {
                if (!args.validationFailed)
                {
                    dlgNewBusinessSubType.hide();
                }
            }
            function handleNewBusinessSubTypeRequest(xhr, status, args)
            {
                if (!args.validationFailed)
                {
                    dlgNewBusinessSubType.show();
                }
            }
        </script>
    </ui:define>

    <ui:define name="helpContent">
        <b>
        </b>
    </ui:define>

</ui:composition>