<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:sec="http://www.springframework.org/security/tags"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        Create/Update finding
    </ui:define>

    <ui:define name="mainContent">
        <f:metadata>
            <f:viewParam name="findingId" value="#{editFindingController.findingIdToUpdate}"/>
            <f:event type="preRenderView" listener="#{editFindingController.prepareFindingForUpdate}"/>
        </f:metadata>
        <h:form enctype="multipart/form-data">
            <h:panelGrid id="panelGrid" columns="2" styleClass="table table-striped table-bordered table-condensed">
                <prime:outputLabel for="txtAuditType" value="Audit Type"/>
                <prime:selectOneMenu
                        id="txtAuditType"
                        value="#{editFindingController.finding.auditType}"
                        converter="entityConverter"
                        required="true"
                        requiredMessage="Audit Type is required">
                    <prime:ajax event="change" update="txtBusinessProcess, txtBusinessSubProcess" listener="#{editFindingController.changeAuditType()}"/>
                    <f:selectItems
                            value="#{commonDefinitionsController.auditTypes}"
                            var="_auditType"
                            itemValue="#{_auditType}"
                            itemLabel="#{_auditType.description}"/>
                    <f:selectItem noSelectionOption="true" itemLabel="Please Select" escape="true"/>
                    <f:attribute name="entityList" value="#{commonDefinitionsController.auditTypes}"/>
                </prime:selectOneMenu>

                <prime:outputLabel for="txtCompany" value="Company"/>
                <prime:selectOneMenu
                        id="txtCompany"
                        value="#{editFindingController.finding.company}"
                        converter="entityConverter"
                        required="#{editFindingController.finding.auditType.companyRequired}"
                        requiredMessage="Company is required for audit type #{editFindingController.finding.auditType.description}">
                    <f:selectItems
                            value="#{commonDefinitionsController.companies}"
                            var="_company"
                            itemValue="#{_company}"
                            itemLabel="#{_company.description}"/>
                    <f:selectItem noSelectionOption="true" itemLabel="Please Select" escape="true"/>
                    <f:attribute name="entityList" value="#{commonDefinitionsController.companies}"/>
                </prime:selectOneMenu>

                <prime:outputLabel for="txtBusinessProcess" value="Main Process"/>
                <prime:selectOneMenu
                        id="txtBusinessProcess"
                        value="#{editFindingController.finding.businessProcessType}"
                        converter="entityConverter"
                        required="true"
                        requiredMessage="Business Process is required">
                    <prime:ajax event="change" update="txtBusinessSubProcess" listener="#{editFindingController.changeBusinessProcess()}"/>
                    <f:selectItems
                            value="#{editFindingController.finding.auditType.businessProcessTypes}"
                            var="_businessProcessType"
                            itemValue="#{_businessProcessType}"
                            itemLabel="#{_businessProcessType.description}"/>
                    <f:selectItem noSelectionOption="true" itemLabel="Please Select"/>
                    <f:attribute name="entityList" value="#{editFindingController.finding.auditType.businessProcessTypes}"/>
                </prime:selectOneMenu>

                <prime:outputLabel for="txtBusinessSubProcess" value="Sub-Process"/>
                <prime:selectOneMenu
                        id="txtBusinessSubProcess"
                        value="#{editFindingController.finding.businessSubProcessType}"
                        converter="entityConverter"
                        required="true"
                        requiredMessage="Business SubProcess is required">
                    <prime:ajax event="change" listener="#{editFindingController.changeSubBusinessProcess()}"/>
                    <f:selectItems
                            value="#{editFindingController.finding.businessProcessType.subProcessTypes}"
                            var="_businessSubProcessType"
                            itemValue="#{_businessSubProcessType}"
                            itemLabel="#{_businessSubProcessType.description}"/>
                    <f:selectItem noSelectionOption="true" itemLabel="Please Select"/>
                    <f:attribute name="entityList" value="#{editFindingController.finding.businessProcessType.subProcessTypes}"/>
                </prime:selectOneMenu>

                <prime:outputLabel for="txtFindingNumber" value="Finding No"/>
                <prime:inputText id="txtFindingNumber" value="#{editFindingController.finding.findingNumber}" required="true" style="width:100px" maxlength="255"
                                 requiredMessage="Finding No is required"/>
                
                <prime:outputLabel for="txtFindingDescription" value="Finding Title"/>
                <prime:inputTextarea id="txtFindingDescription" value="#{editFindingController.finding.description}" required="true" maxlength="255"
                                     requiredMessage="Finding Description is required"/>

                <prime:outputLabel for="txtFindingPriority" value="Priority"/>
                <prime:selectOneMenu id="txtFindingPriority" value="#{editFindingController.finding.priority}" required="true" requiredMessage="Finding Priority is required">
                    <f:selectItems
                            value="#{commonDefinitionsController.priorities}"
                            var="_priority"
                            itemLabel="#{_priority.description}"
                            itemValue="#{_priority.name()}"/>
                    <f:selectItem noSelectionOption="true" itemLabel="Please Select"/>
                </prime:selectOneMenu>

                <prime:outputLabel for="txtFindingDetail" value="Detail"/>
                <prime:inputTextarea id="txtFindingDetail" value="#{editFindingController.finding.detail}" required="true" requiredMessage="Finding Detail is required"/>

                <prime:outputLabel for="txtFindingRisk" value="Risk"/>
                <prime:inputTextarea id="txtFindingRisk" value="#{editFindingController.finding.risk}" required="true" requiredMessage="Finding Risk is required"/>

                <prime:outputLabel for="txtFindingRecommandation" value="Recommendation"/>
                <prime:inputTextarea id="txtFindingRecommandation" value="#{editFindingController.finding.recommendation}" required="true"
                                     requiredMessage="Finding Recommendation is required"/>

                <prime:outputLabel for="txtFindingManagementActionPlan" value="Management Action Plan"/>
                <prime:inputTextarea id="txtFindingManagementActionPlan" value="#{editFindingController.finding.managementActionPlan}" required="true"
                                     requiredMessage="Finding Management Action Plan is required"/>

                <prime:outputLabel for="txtFindingActionOwner" value="Action Owner"/>
                <prime:pickList
                        id="txtFindingActionOwner"
                        value="#{editFindingController.possibleActionOwners}"
                        var="_possibleActionOwner"
                        itemValue="#{_possibleActionOwner}"
                        itemLabel="#{_possibleActionOwner.nameSurname}"
                        showSourceControls="false" showTargetControls="false"
                        showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                        converter="userConverter"
                        required="true"
                        requiredMessage="At least one action owner must be chosen">
                    <f:facet name="sourceCaption">Available</f:facet>
                    <f:facet name="targetCaption">Assigned</f:facet>
                    <prime:ajax event="transfer" update=":growl" listener="#{editFindingController.actionOwnerPickListOnTransfer}"/>
                    <f:attribute name="type" value="normal" />
                    <f:attribute name="userEntities" value="#{commonDefinitionsController.activeUsers}"/>
                </prime:pickList>

                <prime:outputLabel for="txtReadOnlyFindingActionOwner" value="Read Only Action Owner(s)"/>
                <prime:pickList
                        id="txtReadOnlyFindingActionOwner"
                        value="#{editFindingController.possibleReadOnlyActionOwners}"
                        var="_possibleReadOnlyActionOwner"
                        itemValue="#{_possibleReadOnlyActionOwner}"
                        itemLabel="#{_possibleReadOnlyActionOwner.nameSurname}"
                        showSourceControls="false" showTargetControls="false"
                        showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
                        converter="userConverter">
                    <f:facet name="sourceCaption">Available</f:facet>
                    <f:facet name="targetCaption">Assigned</f:facet>
                    <prime:ajax event="transfer" update=":growl" listener="#{editFindingController.actionOwnerPickListOnTransfer}"/>
                    <f:attribute name="type" value="readOnly" />
                    <f:attribute name="userEntities" value="#{commonDefinitionsController.activeUsers}"/>
                </prime:pickList>

                <prime:outputLabel value="File"/>
                <prime:outputPanel>
                    <prime:fileUpload
                            fileUploadListener="#{editFindingController.handleFileUpload}"
                            multiple="false"
                            label="Choose File"
                            required="false"
                            process="@this"
                            auto="true"
                            mode="advanced"
                            update=":growl, findingFiles"
                            sizeLimit="10485760"
                            allowTypes="/(\.|\/)(xls|xlsx|doc|docx|txt|jpeg|jpg|gif|pdf)$/"
                            oncomplete="statusDialog.hide();">
                    </prime:fileUpload>
                    <prime:dataTable
                            id="findingFiles"
                            value="#{editFindingController.finding.findingFilesAsList()}"
                            var="_findingFile"
                            emptyMessage="There is not any uploaded file for the finding">
                        <prime:column headerText="File Name" style="text-align: center">
                            #{_findingFile.fileName}
                        </prime:column>
                        <prime:column headerText="User" style="text-align: center">
                            #{_findingFile.user.nameSurname}
                        </prime:column>
                        <prime:column headerText="" style="text-align: center">
                            <prime:commandLink
                                    value="View"
                                    ajax="false"
                                    immediate="true"
                                    style="color:blue"
                                    oncomplete="statusDialog.hide();">
                                <prime:fileDownload value="#{findingFileController.viewFile(_findingFile)}" />
                            </prime:commandLink>
                        </prime:column>
                        <prime:column headerText="" style="text-align: center">
                            <prime:commandLink
                                    value="Remove"
                                    actionListener="#{findingFileController.removeFile(_findingFile, editFindingController.finding)}"
                                    update="findingFiles"
                                    process="@this"
                                    style="color:blue"/>
                        </prime:column>
                    </prime:dataTable>
                </prime:outputPanel>

                <prime:outputLabel for="txtFindingCompletionDate" value="Completion Date"/>
                <prime:calendar
                        id="txtFindingCompletionDate"
                        value="#{editFindingController.finding.completionDate}"
                        required="true"
                        pattern="dd/MM/yyyy"
                        validator="#{editFindingController.validateCompletionDate}"
                        requiredMessage="Finding Completion Date is required">
                </prime:calendar>
                
                <prime:outputLabel for="txtFindingYear" value="Finding Year"/>
                <prime:calendar
                        id="txtFindingYear" styleClass="yearOfDate"
                        value="#{editFindingController.finding.findingYear}"
                        pattern="yyyy"
                        yearRange="-10"
                        required="true"
                        requiredMessage="Finding Year is required"
                        navigator="true" >
                </prime:calendar>
                
                <prime:outputLabel for="txtReportName" value="Report Name"/>
                <prime:inputText id="txtReportName" value="#{editFindingController.finding.reportName}"
                        required="true"
                        requiredMessage="Report Name is required"
                         maxlength="255"/>

                <prime:outputLabel for="txtFindingWarningEmails" value="Do you want to send warning mails?"/>
                <h:panelGroup columns="2">
                    <prime:selectBooleanCheckbox id="txtFindingWarningEmails" value="#{editFindingController.finding.sendEmail}" required="true">
                        <prime:ajax event="change" update="emailReason"/>
                    </prime:selectBooleanCheckbox>
                    <prime:outputPanel id="emailReason">
                        <h:panelGrid
                                columns="2"
                                rendered="#{not editFindingController.finding.sendEmail}"
                                styleClass="table table-striped table-bordered table-condensed">
                            <prime:outputLabel for="txtEmailReason" value="Reason "/>
                            <prime:selectOneMenu id="txtEmailReason" value="#{editFindingController.finding.reasonToNotSendEmail}" required="true">
                                <f:selectItem itemLabel="Completed" itemValue="COMPLETED"/>
                                <f:selectItem itemLabel="Restructured" itemValue="RESTRUCTURED"/>
                                <f:selectItem itemLabel="Rejected" itemValue="REJECTED"/>
                            </prime:selectOneMenu>
                        </h:panelGrid>
                    </prime:outputPanel>
                </h:panelGroup>

                <prime:outputLabel for="txtConfirmed" value="Confirmed?"/>
                <prime:selectBooleanCheckbox id="txtConfirmed" value="#{editFindingController.finding.confirmed}" required="false">
                </prime:selectBooleanCheckbox>

                <f:facet name="footer">
                    <prime:commandButton
                            id="btnExecute"
                            widgetVar="btnExecute"
                            value="Save"
                            action="#{editFindingController.mergeFinding()}"
                            style="float:right;"
                            styleClass="btn btn-primary"
                            onclick="btnExecute.disable()"
                            oncomplete="btnExecute.enable()"
                            update=":growl, panelGrid"/>
                </f:facet>
            </h:panelGrid>
        </h:form>
    </ui:define>

    <ui:define name="helpContent">
        <b>
            At this page you can define new finding and assign it to the specific user or group
        </b>
    </ui:define>

</ui:composition>