<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:util="http://java.sun.com/jsf/composite/components/common"
                xmlns:sec="http://www.springframework.org/security/tags"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        Bulk Finding Import From Excel File
    </ui:define>

    <ui:define name="mainContent">
        <h:form enctype="multipart/form-data">
            <h:panelGrid id="panelGrid" columns="2" styleClass="table table-striped table-bordered table-condensed">
                <prime:outputLabel value="File"/>
                <prime:outputPanel>
                    <prime:fileUpload
                            fileUploadListener="#{importFindingController.handleFileUpload}"
                            multiple="false"
                            label="Choose Excel File"
                            required="true"
                            process="@this"
                            auto="true"
                            mode="advanced"
                            update=":growl,panelImportResult"
                            sizeLimit="10485760"
                            allowTypes="/(\.|\/)(xls|xlsx)$/"
                            oncomplete="statusDialog.hide();">
                    </prime:fileUpload>
                </prime:outputPanel>
                <f:facet name="footer">
                    <h:commandLink action="#{importFindingController.exportTemplate()}" value="Generate Excel Template" />
                </f:facet>
            </h:panelGrid>
            <prime:outputPanel id="panelImportResult">
                <prime:outputPanel rendered="#{importFindingController.findingImportWrapperList.size() gt 0}">
                    <util:findingImportList
                            findings="#{importFindingController.findingImportWrapperList}"
                            bean="#{importFindingController}"/>
                </prime:outputPanel>
                <br/>
                <h:panelGroup style="float: right;">
                    <prime:commandButton
                            value="Import Valid Findings"
                            styleClass="btn btn-primary"
                            style="float:right"
                            widgetVar="importButton"
                            rendered="#{importFindingController.findingImportWrapperList.size() gt 0}"
                            actionListener="#{importFindingController.importFindings()}"
                            update="panelImportResult"/>
                </h:panelGroup>
            </prime:outputPanel>
           </h:form>
    </ui:define>

    <ui:define name="helpContent">
        <b>
            At this page you can define new finding and assign it to the specific user or group
        </b>
    </ui:define>

</ui:composition>