<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:prime="http://primefaces.org/ui" xmlns:ice="http://java.sun.com/jsf/html"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        Number of Findings per Status Graphical Report
    </ui:define>

    <ui:define name="mainContent">
        <div class="span2 offset3">
            <prime:pieChart
                    id="pieChart"
                    value="#{numberOfFindingsPerStatusGraphicalReportController.pieChartModel}"
                    legendPosition="w"
                    title="Findings Graph"
                    style="width:500px;height:400px;"
                    sliceMargin="5"
                    showDataLabels="true"
                    dataFormat="value">
                <prime:ajax event="itemSelect" listener="#{numberOfFindingsPerStatusGraphicalReportController.selectPieChart}" update="growl"/>
            </prime:pieChart>

            <p class="text-error" style="width:500px;text-align: center">To see details of the findings please click on the chart</p>
        </div>
    </ui:define>

    <ui:define name="helpContent">
        <b>
        </b>
    </ui:define>

</ui:composition>