<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:prime="http://primefaces.org/ui"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        Reassign finding
    </ui:define>

    <ui:define name="mainContent">
        <f:metadata>
            <f:viewParam name="findingId" value="#{reassignFindingController.findingIdToUpdate}"/>
            <f:event type="preRenderView" listener="#{reassignFindingController.prepareFindingForReassign}"/>
        </f:metadata>
        <h:form enctype="multipart/form-data">
            <h:panelGrid id="panelGrid" columns="2" styleClass="table table-condensed">

                <h:outputText value="Audit Type"/>
                <h:outputText value="#{reassignFindingController.finding.auditType.description}"/>

                <h:outputText value="Main Process"/>
                <h:outputText value="#{reassignFindingController.finding.businessProcessType.description}"/>

                <h:outputText value="Process"/>
                <h:outputText value="#{reassignFindingController.finding.businessSubProcessType.description}"/>

                <h:outputText value="Finding No"/>
                <h:outputText value="#{reassignFindingController.finding.findingNumber}"/>

                <h:outputText value="Finding Title"/>
                <h:outputText value="#{reassignFindingController.finding.description}"/>

                <h:outputText value="Action Owner(s): "/>
                <prime:panelGrid>
                    <f:facet name="header">
                        <prime:row>
                            <prime:column style="padding: 10px;">Current Action Owner(s)</prime:column>
                            <prime:column style="padding: 10px;">New Action Owner</prime:column>
                        </prime:row>
                    </f:facet>

                    <prime:row>
                        <prime:column>
                            <prime:selectManyCheckbox
                                    value="#{reassignFindingController.selectedOldActionOwners}"
                                    converter="userConverter"
                                    layout="pageDirection">
                                <f:selectItems var="_user" itemLabel="#{_user.nameSurname}" itemValue="#{_user}" value="#{reassignFindingController.currentActionOwners}"/>
                                <f:attribute name="userEntities" value="#{commonDefinitionsController.allUsers}"/>
                            </prime:selectManyCheckbox>
                        </prime:column>

                        <prime:column>
                            <prime:selectOneMenu
                                    value="#{reassignFindingController.selectedNewActionOwner}"
                                    converter="userConverter"
                                    panelStyle="width:200px"
                                    effect="fade"
                                    style="width:160px"
                                    filter="true"
                                    filterMatchMode="contains"
                                    required="true"
                                    requiredMessage="You need to choose one new action owner">
                                <f:selectItems var="_user" itemLabel="#{_user.nameSurname}" itemValue="#{_user}" value="#{commonDefinitionsController.activeUsers}"/>
                                <f:selectItem noSelectionOption="true" itemLabel="Please Select"/>
                                <f:attribute name="userEntities" value="#{commonDefinitionsController.activeUsers}"/>
                            </prime:selectOneMenu>
                        </prime:column>
                    </prime:row>

                </prime:panelGrid>

                <f:facet name="footer">
                    <h:panelGroup>
                        <prime:commandButton
                                id="btnExecute"
                                widgetVar="btnExecute"
                                value="Reassign"
                                actionListener="#{reassignFindingController.reassignFinding()}"
                                style="float:right;"
                                styleClass="btn btn-primary"
                                onclick="if (!confirm('Reassigning will change the history, are you sure?')) return false"
                                update=":growl, panelGrid">
                        </prime:commandButton>
                    </h:panelGroup>
                </f:facet>
            </h:panelGrid>
        </h:form>
    </ui:define>

    <ui:define name="helpContent">
        <b>
            At this page you can define new finding and assign it to the specific user or group
        </b>
    </ui:define>

</ui:composition>