<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:prime="http://primefaces.org/ui"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        Audit Cockpit
    </ui:define>

    <ui:define name="mainContent">
        <h:form id="summaryReportForm">
            <h:panelGrid id="searchPanel" columns="3" styleClass="table table-striped table-bordered table-condensed">
                <prime:outputLabel for="txtAuditType" value="Audit Type"/>
                <prime:selectOneMenu
                        id="txtAuditType"
                        value="#{summaryReportController.auditType}"
                        converter="entityConverter">
                    <prime:ajax event="change" update="@form" listener="#{summaryReportController.changeAuditType()}"/>
                    <f:selectItems
                            value="#{commonDefinitionsController.auditTypes}"
                            var="_auditType"
                            itemValue="#{_auditType}"
                            itemLabel="#{_auditType.description}"/>
                    <f:selectItem noSelectionOption="true" itemLabel="Please Select" escape="true" itemDisabled="true"/>
                    <f:attribute name="entityList" value="#{commonDefinitionsController.auditTypes}"/>
                </prime:selectOneMenu>
                <prime:tooltip  for="txtAuditType" value="Audit Type" />

                <prime:outputLabel for="txtKpi" value="KPI Rate"/>
                <h:outputText id="txtKpi" value="% #{summaryReportController.kpiRate}" style="color:red;font-weight: bold;"/>
                <prime:tooltip id="toolTipKpi" for="txtKpi" style="color:red;font-size: smaller;">
                    <h:panelGrid columns="2" styleClass="table table-striped table-bordered table-condensed">
                         <h:outputText  value="Verh High + High Findings Rate" />
                         <h:outputText  value="% #{summaryReportController.higherOverdueKPIRate * 100}" />
                         <h:outputText  value="Moderate + Low Findings Rate " />
                         <h:outputText  value="% #{summaryReportController.lowerOverdueKPIRate * 100}" />
                        <f:facet name="footer">
                            <h:outputText value="KPI Rate : % #{summaryReportController.kpiRate}" style="float:right;"/>
                        </f:facet>
                    </h:panelGrid>
                </prime:tooltip>
            </h:panelGrid>
            <prime:spacer height="20" width="20"/>
            <h:panelGrid id="proxyLogGrid" style="width: 100%;" columnClasses="columnVerticalTop">
                <prime:panel style="width: 100%;">
                    <f:facet name="header">
	                   <h:outputText value="Summary Report Graph" />
	                </f:facet>
	                <!--  seriesColors="B40431,FF0000,F7FE2E,088A08"-->
	                <prime:barChart id="graph1"
		               	value="#{summaryReportController.businessSubProcessChatModel}"
		               	legendPosition="ne"
		               	animate="true"
		               	seriesColors="ff0000,ffa500,ffff00,9acd32"
		               	yaxisLabel="RECORDS">
                        <prime:ajax event="itemSelect"
                            process="@this"
                            update=":dlgSummaryForm"
		               	 	listener="#{summaryReportController.summaryReportListener}"
                            oncomplete="dlgSummary.show();"/>
		            </prime:barChart>
            	</prime:panel>
            </h:panelGrid>
        </h:form>
        <h:form id="dlgSummaryForm">
            <prime:dialog id="dlgSummary" header="Summary Report List" position="center" maximizable="false" widgetVar="dlgSummary" style="height:auto;">
                <prime:ajax event="close" update=":dlgSummaryForm" oncomplete="summaryDataTable.getPaginator().setPage(0);"/>
                <prime:dataTable id="summaryDataTable"
                                 value="#{summaryReportController.selectedFindings}"
                                 var="_finding"
                                 rows="5"
                                 paginator="true"
                                 paginatorPosition="bottom"
                                 widgetVar="summaryDataTable"
                                 style="width:100%;text-align: center;">
                    <prime:columnGroup type="header">
                         <prime:row>
                             <prime:column headerText="Finding Number" />
                             <prime:column headerText="Sub Process" />
                             <prime:column headerText="Finding Title"/>
                             <prime:column headerText="Priority"/>
                             <prime:column headerText="Target Date"/>
                             <prime:column headerText="Delay Time (days)"/>
                             <prime:column headerText="Status"/>
                        </prime:row>
                    </prime:columnGroup>
                    <prime:column style="text-align: left;">
                        <h:outputText value="#{_finding.findingNumber}"/>
                    </prime:column>
                    <prime:column style="text-align: left;">

                            <h:outputText value="#{_finding.businessSubProcessType.description}" style="color:#a8a8a8;"/>

                    </prime:column>
                    <prime:column style="text-align: left;">
                        <h:outputText value="#{_finding.description}"/>
                    </prime:column>
                    <prime:column>
                        <h:outputText value="#{_finding.priority.description}"/>
                    </prime:column>
                    <prime:column>
                        <h:outputText value="#{_finding.completionDate}">
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText>
                    </prime:column>
                    <prime:column>
                        <h:outputText value="#{_finding.countOfDelayedDay}"/>
                    </prime:column>
                    <prime:column>
                        <h:outputText value="#{_finding.statusOfFinding.description}"/>
                    </prime:column>
                </prime:dataTable>
                <br/>
                <h:commandLink action="#{summaryReportController.exportFindingsToExcel()}"
                               rendered="#{summaryReportController.selectedFindings.size() gt 0}" value="Export to Excel" />
            </prime:dialog>
        </h:form>
    </ui:define>
</ui:composition>