<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:util="http://java.sun.com/jsf/composite/components/common"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        My Departments' Tasks
    </ui:define>

    <ui:define name="mainContent">
        <h:form>
            <util:findingList
                    findings="#{departmentFindingsController.findingLazyDataModel}"
                    bean="#{findingAdminController}"/>
        </h:form>
    </ui:define>

    <ui:define name="helpContent">
        <b>
        </b>
    </ui:define>

</ui:composition>