<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:prime="http://primefaces.org/ui"
                xmlns:composite="http://java.sun.com/jsf/composite"
                xmlns:util="http://java.sun.com/jsf/composite/components/common"
                xmlns:sec="http://www.springframework.org/security/tags"
                template="/WEB-INF/templates/default.xhtml">

    <ui:define name="pageHeader">
        My Tasks
    </ui:define>

    <ui:define name="mainContent">
        <h:form id="form">
            <prime:dataTable id="dtUserTasks"
                             paginator="true" rows="25"
                             lazy="true"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="10,25,50,100"
                             value="#{userTasksController.findingActionLazyDataModel}"
                             var="_findingAction" styleClass="table-hover">
                <f:facet name="header">
                    Findings Waiting for Action
                </f:facet>

                <prime:column headerText="Finding #" sortBy="#{_findingAction.finding.findingNumber}">
                    <prime:commandLink id="findingNumber"
                                       actionListener="#{userTasksController.selectFindingAction(_findingAction)}"
                                       onsuccess="findingDetailsDialog.show();"
                                       value="#{_findingAction.finding.findingNumber}" />
                    <prime:tooltip style="max-width:400px" id="toolTipFadeFindingNumber" for="findingNumber" value="#{_findingAction.finding.detail}" />                                    
                    <prime:outputPanel rendered="#{_findingAction.finding.findingFiles.size()>0}">
                        <img src="../images/paperclip.png"></img>
                    </prime:outputPanel>
                </prime:column>

				<prime:column headerText="Year" sortBy="#{_findingAction.finding.findingYear}" >
		            <h:outputText value="#{_findingAction.finding.findingYear}">
		            	<f:convertDateTime pattern="yyyy"/>
		            </h:outputText>
		        </prime:column>

				<prime:column headerText="Report Name"
					sortBy="#{_findingAction.finding.reportName}">
					<h:outputText value="#{_findingAction.finding.reportName}" />
				</prime:column>

				<prime:column headerText="Priority" sortBy="#{_findingAction.finding.priority}" style="background-color:#{_findingAction.finding.priority.color};">
                    <h:outputText value="#{_findingAction.finding.priority.description}" style="color:#000000;" />
                </prime:column>

                <prime:column>
                    <f:facet name="header">
                        Main Process
                    </f:facet>
                    <h:outputText value="#{_findingAction.finding.auditType.description}"/>
                    <br/>
                    <h:outputText value="#{_findingAction.finding.businessProcessType.description}"/>
                    <br/>
                    <h:outputText value="#{_findingAction.finding.businessSubProcessType.description}"/>
                </prime:column>

                <prime:column headerText=" Action Taken" style="text-align:center;" >
                    <h:outputText value="#{_findingAction.actionTaken}"/>
                </prime:column>

                <prime:column style="text-align:center;" >
                    <f:facet name="header">
                        <h:panelGrid columns="1">
                            <h:outputText value="Completion"/>
                            <h:outputText value="Percentage"/>
                        </h:panelGrid>
                    </f:facet>
                    <prime:commandLink id="statusOfFinding"
                                       style="color: #{_findingAction.finding.statusOfFinding.color}"
                                       actionListener="#{userTasksController.selectFindingAction(_findingAction)}"
                                       oncomplete="userActionsDialog.show();"
                                       value="#{_findingAction.finding.statusOfFinding.description} (#{_findingAction.finding.completionPercentageFromActions}%)" />
                </prime:column>

                <prime:column >
                    <f:facet name="header">
                        <h:panelGrid columns="1">
                            <h:outputText value="Explanation"/>
                            <h:outputText value="for Delay"/>
                        </h:panelGrid>
                    </f:facet>
                    #{_findingAction.explanationForDelay}
                </prime:column>

                <prime:column style="text-align:center">
                    <f:facet name="header">
                        <h:panelGrid columns="1">
                            <h:outputText value="Revised"/>
                            <h:outputText value="Comp. Date"/>
                        </h:panelGrid>
                    </f:facet>
                    <h:outputText value="#{_findingAction.finding.revisedCompletionDate}">
                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                    </h:outputText>
                    <br/>
                    <h:outputText value="Approved" rendered="#{_findingAction.finding.revised eq true and _findingAction.finding.revisedCompletionDate ne null}">
                    </h:outputText>
                    <h:outputText value="Waiting for Approval" rendered="#{_findingAction.finding.revised eq false and _findingAction.finding.revisedCompletionDate ne null}">
                    </h:outputText>
                </prime:column>

                <prime:column>
                    <prime:menuButton value="Options">
                        <prime:menuitem
                                value="Finding Details"
                                actionListener="#{userTasksController.selectFindingAction(_findingAction)}"
                                icon="ui-icon-zoomin"
                                oncomplete="findingDetailsDialog.show();"/>
                        <prime:menuitem
                                value="User Actions"
                                icon="ui-icon-circle-arrow-e"
                                actionListener="#{userTasksController.selectFindingAction(_findingAction)}"
                                oncomplete="userActionsDialog.show();"/>
                        <prime:menuitem
                                value="Action History"
                                process="@this"
                                icon="ui-icon-clock"
                                actionListener="#{userTasksController.selectFindingAction(_findingAction)}"
                                oncomplete="actionHistoryDialog.show();"/>
                        <prime:menuitem
                                value="Confirmation History"
                                icon="ui-icon-clock"
                                actionListener="#{userTasksController.selectFindingAction(_findingAction)}"
                                oncomplete="confirmationHistoryDialog.show();"/>
                        <prime:menuitem
                                value="Edit"
                                rendered="#{(_findingAction.finding.confirmed and _findingAction.finding.completed) ne true}"
                                icon="ui-icon-pencil"
                                actionListener="#{userTasksController.selectFindingAction(_findingAction)}"
                                oncomplete="editFindingActionDialog.show();"/>
                    </prime:menuButton>
                </prime:column>

            </prime:dataTable>

            <prime:dialog
                    id="editFindingActionDialog"
                    dynamic="true"
                    modal="true"
                    widgetVar="editFindingActionDialog"
                    closable="false"
                    header="Details of Finding Action"
                    width="700" height="460">
                <prime:outputPanel autoUpdate="false">
                    <h:panelGrid columns="2" styleClass="table table-striped table-bordered table-condensed">

                        <h:outputLabel for="txtActionTaken" value="Action Taken"/>
                        <prime:inputTextarea id="txtActionTaken" value="#{userTasksController.selectedFindingAction.actionTaken}"/>

                        <h:outputText value="Completion Percentage"/>
                        <h:panelGroup>
                            <h:panelGroup>
                                <h:outputText value="%" style="padding-left: 10px;"/>
                                <h:outputText id="output" value="#{userTasksController.selectedFindingAction.completionPercentage}"/>
                            </h:panelGroup>

                            <h:inputHidden id="txtCompletionPercentage" value="#{userTasksController.selectedFindingAction.completionPercentage}"/>
                            <prime:slider step="25" for="txtCompletionPercentage" display="output" style="width:200px;"/>
                        </h:panelGroup>

                        <h:outputLabel for="txtExplanationForDelay" value="Explanation for Delay"/>
                        <prime:inputTextarea id="txtExplanationForDelay" value="#{userTasksController.selectedFindingAction.explanationForDelay}"/>

                        <h:outputLabel for="txtRevisedCompletionDate" value="Revised completion Date"/>
                        <prime:calendar  id="txtRevisedCompletionDate" value="#{userTasksController.selectedFindingAction.revisedCompletionDate}" pattern="dd/MM/yyyy"/>

                        <prime:outputLabel value="File"/>
                        <prime:outputPanel>
                            <prime:fileUpload
                                    fileUploadListener="#{userTasksController.handleFileUpload}"
                                    multiple="false"
                                    label="Choose File"
                                    required="false"
                                    process="@this"
                                    auto="true"
                                    mode="advanced"
                                    update=":growl, findingFiles"
                                    sizeLimit="10485760"
                                    allowTypes="/(\.|\/)(xls|xlsx|doc|docx|txt|jpeg|jpg|gif|pdf)$/"
                                    oncomplete="statusDialog.hide();">
                            </prime:fileUpload>
                            <prime:dataTable
                                    id="findingFiles"
                                    value="#{userTasksController.selectedFindingAction.finding.findingFilesAsList()}"
                                    var="_findingFile"
                                    emptyMessage="There is not any uploaded file for the finding">
                                <prime:column headerText="File Name" style="text-align: center">
                                    #{_findingFile.fileName}
                                </prime:column>
                                <prime:column headerText="User" style="text-align: center">
                                    #{_findingFile.user.nameSurname}
                                </prime:column>
                                <prime:column headerText="" style="text-align: center">
                                    <prime:commandLink
                                            value="View"
                                            ajax="false"
                                            immediate="true"
                                            style="color:blue"
                                            oncomplete="statusDialog.hide();">
                                        <prime:fileDownload value="#{findingFileController.viewFile(_findingFile)}" />
                                    </prime:commandLink>
                                </prime:column>
                                <prime:column headerText="" style="text-align: center">
                                    <prime:commandLink
                                            value="Remove"
                                            rendered="#{_findingFile.user eq visit.user}"
                                            actionListener="#{findingFileController.removeFile(_findingFile, userTasksController.selectedFindingAction.finding)}"
                                            update="findingFiles"
                                            process="@this"
                                            style="color:blue"/>
                                </prime:column>
                            </prime:dataTable>
                        </prime:outputPanel>

                        <f:facet name="footer">
                            <h:panelGroup style="float:right;">
                                <prime:commandButton value="Cancel" onclick="editFindingActionDialog.hide();" process="@this"/>
                                <prime:commandButton
                                        value="Save"
                                        actionListener="#{userTasksController.updateFindingAction()}"
                                        update="dtUserTasks, editFindingActionDialog"
                                        onsuccess="editFindingActionDialog.hide();"/>
                            </h:panelGroup>
                        </f:facet>
                    </h:panelGrid>
                </prime:outputPanel>
            </prime:dialog>

            <prime:dialog id="findingDetailsDialog" dynamic="true" modal="true" widgetVar="findingDetailsDialog" closable="true" header="Details of Finding" width="700" height="400">
                <util:findingDetail bean="#{userTasksController}"/>
            </prime:dialog>

            <prime:dialog id="userActionsDialog" dynamic="true" modal="true" widgetVar="userActionsDialog" closable="true" header="Details of Actions" style="margin-top:100px;"  width="1200" height="400">
                <util:findingUserActions bean="#{userTasksController}"/>
            </prime:dialog>

            <prime:dialog id="actionHistoryDialog" dynamic="true" modal="true" widgetVar="actionHistoryDialog" closable="true" header="History of Finding">
                <util:findingActionHistory bean="#{userTasksController}"/>
            </prime:dialog>

            <prime:dialog id="confirmationHistoryDialog" dynamic="true" modal="true" widgetVar="confirmationHistoryDialog" closable="true" header="Confirmation History" style="margin-top:100px;"  width="1200" height="400">
                <util:findingResponsibleActions bean="#{userTasksController}"/>
            </prime:dialog>

        </h:form>
    </ui:define>

    <ui:define name="helpContent">
        <b>
            At this page you can view the audit findings that are assigned to you and also change status of them
        </b>
    </ui:define>

</ui:composition>